<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Node Worker Manager</title>
    <!-- BootStrap -->
    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <link href="bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- ANGULAR CORE -->
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <script src="/js/components/tasks/taskController.js"></script>
    <script src="/js/components/tasks/taskService.js"></script>
    <script src="/js/components/auth/authController.js"></script>
    <script src="/js/components/auth/authService.js"></script>
    <script src="/js/components/workers/workersController.js"></script>
    <script src="/js/components/workers/workersService.js"></script>
    <!-- endinject -->
</head>
<body class="col-xs-8 col-xs-offset-2">
<header>
    <ul class="nav nav-tabs">
        <li role="presentation"><a ui-sref="auth">Auth</a></li>
        <li ng-if="Auth" role="presentation"><a ui-sref="workers">Workers</a></li>
        <li ng-if="Auth" role="presentation"><a ui-sref="tasks">Complete Tasks</a></li>
    </ul>
</header>

<div ui-view></div>

</body>
</html>