<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <div ng-show="error" class="alert alert-danger" role="alert">{{error}}</div>
    </div>
<form class="col-xs-4 col-xs-offset-4 well" ng-submit="signin()" style="padding: 80px; margin-top: 80px">
    <div class="form-group">
        <input type="text" class="form-control" ng-model="loginData.login" name="login" placeholder="Login">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" ng-model="loginData.password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

